<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category - Admin Page</title>
    <link rel="stylesheet" href="/css/admin/addcategory.css">
</head>
<body>
    <div class="container">
        <main>
            <section>
                <form action="/admin/viewsubcategories/<%= subcategory._id %>/edit" method="POST" class="form">
                    <h2>Edit Subcategory</h2>
                    <label for="subcategory-name">Subcategory Name:</label>
                    <input type="text" id="subcategoryname" name="subcategoryname" value="<%= subcategory.subcategoryname %>" required>

                    <label for="category-id">Select Category:</label>
                    <select id="category-id" name="categoryid" required>
                        <% categories.forEach(function(category) { %>
                            <option value="<%= category._id %>"><%= category.categoryname %></option>
                        <% }); %>
                    </select>
                    <button type="submit" class="btn">Edit Subcategory</button>
                </form>
            </section>
        </main>
    </div>
</body>
</html>

